<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="layout/layout :: head">
        </th:block>
</head>
<body>
	<header  th:replace="layout/layout :: header"></header>
	<div class="container">
		<h1 class="text-secondary" th:text="${titulo}"></h1>

		<table class="table table-striped">
			<tr>
				<th>Username</th>
				<th>Correo</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Fecha de nacimiento</th>
				<th colspan="2"><a class="btn btn-primary col-md-12" th:href="@{/usuario/nuevo}">Añadir</a></th>
			</tr>
			<tr th:each="usuario: ${usuarios}">
				<td th:text="${usuario.username}"></td>
				<td th:text="${usuario.email}"></td>
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellidos}"></td>
				<td th:text="${usuario.fechaNac}"></td>
				<td>
					<a class="btn btn-success btn-xs col-md-12" th:href="@{/usuario/form/}+${usuario.id}">Editar</a>
				</td>
				<td>
					<a class="btn btn-danger btn-xs col-md-12" th:href="@{/usuario/delete/}+${usuario.id}" onclick="return confirm('¿Seguro que desea eliminar el registro?');">Eliminar</a>
				</td>
			</tr>
		</table>
	</div>
<footer  th:replace="layout/layout :: footer"></footer>
</body>
</html>