<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:include="layout/layout :: head"></th:block>
<meta charset="utf-8">
</head>
<body>
	<header  th:replace="layout/layout :: header"></header>
	<div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li> <a th:href="@{/perfil/miPerfil}">Mi perfil </a></li>
                <li> <a th:href="@{/perfil/misEntradas}">Mis entradas </a></li>
                <li> <a th:href="@{/perfil/misEventos}">Mis eventos </a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/usuario/listar}">Listado de usuarios </a></li>
            </ul>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                    <div class="col-md-12">
						<div class="container">
							<h1 class="text-secondary" th:text="${titulo}"></h1>
					
							<table class="table table-striped">
								<tr>
									<th>Username</th>
									<th>Correo</th>
									<th>Nombre</th>
									<th>Apellidos</th>
									<th>Fecha de nacimiento</th>
									<th colspan="2"><a class="btn btn-primary col-md-12" th:href="@{/usuario/nuevo}">Añadir</a></th>
								</tr>
								<tr th:each="usuario: ${usuarios}">
									<td th:text="${usuario.username}"></td>
									<td th:text="${usuario.email}"></td>
									<td th:text="${usuario.nombre}"></td>
									<td th:text="${usuario.apellidos}"></td>
									<td th:text="${usuario.fechaNac}"></td>
									<td>
										<a class="btn btn-success btn-xs col-md-12" th:href="@{/usuario/form/}+${usuario.id}">Editar</a>
									</td>
									<td>
										<a class="btn btn-danger btn-xs col-md-12" th:href="@{/usuario/delete/}+${usuario.id}" onclick="return confirm('¿Seguro que desea eliminar el registro?');">Eliminar</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<footer  th:replace="layout/layout :: footer"></footer>
</body>
</html>