<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="utf-8">
<title th:text="'Eventup -' + ${tituloWeb}"></title>

<link rel="stylesheet"	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link rel="stylesheet" th:href="@{/css/footer/styles.min.css}">
<link rel="stylesheet" th:href="@{/css/header/styles.min.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<link rel="shortcut icon" th:href="@{/images/layout/logo-eventup.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/images/layout/logo-eventup.ico}" type="image/x-icon">



<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-light navbar-expand-md navigation-clean">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}"> 
				<img th:src="@{/images/layout/logo.png}" style="height:50px" alt="Logo Eventup"/> </a>
				<button data-toggle="collapse" class="navbar-toggler"
					data-target="#navcol-1">
					<span class="sr-only">Toggle navigation</span><span
						class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navcol-1">
					<ul class="nav navbar-nav ml-auto">
						<li class="nav-item" role="presentation"><a class="nav-link"
							th:href="@{/evento/busqueda}">Eventos</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link"
							th:href="@{/login}" sec:authorize="!isAuthenticated()">Iniciar
								sesión</a></li>
						<li class="nav-item dropdown" sec:authorize="isAuthenticated()"><a
							class="dropdown-toggle nav-link" data-toggle="dropdown"
							aria-expanded="false" href="#" sec:authentication="name"></a>
							<div class="dropdown-menu" role="menu">
								<a class="dropdown-item" role="presentation"
									th:href="@{/perfil/miPerfil}">Mi perfil</a>
								<form th:action="@{/logout}" method="post">
									<input class="dropdown-item btn btn-light" type="submit"
										value="Salir" />
								</form>
							</div></li>
					</ul>
				</div>
			</div>
		</nav>
		<hr>
	</header>
	<div class="container"></div>
	<div class="footer-basic" th:fragment="footer">
		<br>
		<footer>
			<div class="social">
				<a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
					class="icon ion-social-snapchat"></i></a><a href="#"><i
					class="icon ion-social-twitter"></i></a><a href="#"><i
					class="icon ion-social-facebook"></i></a>
			</div>
			<ul class="list-inline">
				<li class="list-inline-item"><a th:href="@{/}">Home</a></li>
				<li class="list-inline-item"><a href="#">Contacto</a></li>
				<li class="list-inline-item"><a thref="#">About</a></li>
				<li class="list-inline-item"><a href="#">Terms</a></li>
				<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
			</ul>
			<p class="copyright">Eventup © 2020 Proyecto Ficticio para la Universidad Pablo Olavide</p>
		</footer>
	</div>

</body>
</html>