<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="layout/layout :: head"></th:block>
<meta charset="utf-8">
</head>
<body>
	<header  th:replace="layout/layout :: header"></header>
	<div class="container">
		<h1 class="text-secondary" th:text="${titulo}"></h1>

		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Fecha</th>
				<th>Hora</th>
				<th>Evento</th>
				<th>Total</th>
				<th colspan="3" style="text-align:center;">Acciones</th>
			</tr>
			<tr th:each="venta: ${ventas}">
				<td th:text="${venta.id}"></td>
				<td th:text="${venta.fecha}"></td>
				<td th:text="${venta.hora}"></td>
				<td th:text="${venta.evento.nombre}"></td>
				<td th:text="${venta.total}+' €'"></td>
				<td><a class="btn btn-danger btn-xs col-md-12"
					th:href="@{/venta/delete/}+${id_evento}+'/'+${venta.id}"
					onclick="return confirm('¿Seguro que desea eliminar el registro?');">Eliminar</a>
				<td><a class="btn btn-light btn-xs col-md-12"
					th:href="@{/entrada/listar/}+${id_evento}+'/'+${venta.id}">Ver entradas</a></td>
				<td><a class="btn btn-success btn-xs col-md-12"
					th:href="@{/venta/edit/}+${id_evento}+'/'+${venta.id}">Editar</a></td>
			</tr>
		</table>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>