<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/layout :: head"></head>
<meta charset="utf-8">
<body>
	<header  th:replace="layout/layout :: header"></header>
	<div class="container">
		<h1 class="text-secondary" th:text="${titulo}"></h1>

		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Hora</th>
				<th>Fecha</th>
				<th>Contenido</th>
				<th>Tipo</th>
				<th>Estado</th>
				<th colspan="2"><a class="btn btn-primary col-md-12" th:href="@{/mensaje/nuevo}">Añadir</a></th>
			</tr>
			<tr th:each="mensaje: ${mensajes}">
				<td th:text="${mensaje.id}"></td>
				<td th:text="${mensaje.hora}"></td>
				<td th:text="${mensaje.fecha}"></td>
				<td th:text="${mensaje.contenido}"></td>
				<td th:text="${mensaje.tipo}"></td>
				<td th:text="${mensaje.estado}"></td>
				<td>
					<a class="btn btn-success btn-xs col-md-12" th:href="@{/mensaje/form/}+${mensaje.id}">Editar</a>
				</td>
				<td>
					<a class="btn btn-danger btn-xs col-md-12" th:href="@{/mensaje/delete/}+${mensaje.id}" onclick="return confirm('¿Seguro que desea eliminar el registro?');">Eliminar</a>
				</td>
			</tr>
		</table>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>