<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="layout/layout :: head"></th:block>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/home/styles.min.css}">
<script th:src="@{/js/home/script.min.js}"></script>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">


		<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
			<div class="col-md-6 px-0">
				<h1 class="display-6 font-italic">Eventup, donde encontrarás
					cualquier evento y sino crealo tu.</h1>
				<p class="lead my-3"></p>

			</div>
		</div>



	</div>
	<section class="features-icons  text-center">
		<h1 class="display-4">Nuestros Eventos</h1>
		<br>
		<div class="container">
			<div class="card-deck" >
			
			
				<div class="card" th:each="evento: ${eventos}">
					<img class="card-img-top" th:src="${evento.foto}" alt="Foto del Evento">
					<div class="card-body">
						<h5 class="card-title" th:text="${evento.nombre}"></h5>
						<p class="card-text" th:text="${evento.descripcion}">This is a wider card with supporting text
							below as a natural lead-in to additional content. This content is
							a little bit longer.</p><br>
						<p class="card-text" th:text="'Fecha: '+${evento.fecha}"> </p>
						<p class="card-text" th:text="' Precio: '+${evento.precio}+'€'"></p>
					</div>
					<div class="card-footer">
						<small class="text-muted" th:text="'Se realizara en: '+${evento.ciudad}"></small>
					</div>
				</div>
				
				
				<div class="card">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This card has supporting text below as a
							natural lead-in to additional content.</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
				<div class="card">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a wider card with supporting text
							below as a natural lead-in to additional content. This card has
							even longer content than the first to show that equal height
							action.</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
			</div>
		</div>
		<br>
	</section>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>